<!-- bread crumbs -->
<ybreadcrumb yitem="breadcrumbData" size="'small'"></ybreadcrumb>

<div class="tenderDetailsContainer" ng-cloak>
    <section class="white">
        <div class="row">
            <!-- product details -->
            <div class="col-md-12">
                <div class="tender-details">
                    <!-- product name -->
                    <h1 class="pageTitle">{{tender.title}}</h1>

                    <div class="col-md-6">
                        <div id="start-date" class="startDate">Start date: {{tender.startDate}}</div>
                        <div id="end-date" class="endDate">End date: {{tender.endDate}}</div>
                        <div id="time-lenght" class="timeLength">Length: {{tender.timeLength}}</div>
                        <div id="type" class="type">Work type: {{tender.type}}</div>
                        <div id="min-price" class="minPrice">Price range: ${{tender.minPrice}} - ${{tender.maxPrice}}</div>
                        <div id="description" class="description">Description: {{tender.description}}</div>
                        <div id="location" class="location">Location: {{tender.location}}</div>
                        <div id="musical-style" class="musicalStyle">Music style: {{tender.musicalStyle}}</div>
                    </div>


                    <div class="col-md-6">
                        <form action="" class="tenderPanel">

                            <!-- product quantity -->
                            <div class="row tender-options">
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="price">Your Price</label>
                                        <input ng-model="offer.price" quantity-input type="number" id="price" min="1" step="1" pattern="\d*" class="form-control quantity">
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="price">Your Name</label>
                                        <input ng-model="offer.name" type="text" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="price">Your Description</label>
                                        <input ng-model="offer.description" type="text" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="price">Years of experience</label>
                                        <input ng-model="offer.experience" type="text" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="price">Website</label>
                                        <input ng-model="offer.link" type="text" id="name" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <!-- error notification -->
                                <div ng-if="error" class="col-md-8 col-md-offset-2">
                                    <div class="error">
                                        <small class="help-inline has-error">
                                            {{'ERROR_ADDING_TO_CART' | translate}}
                                        </small>
                                    </div>
                                </div>

                                <!-- add to cart -->
                                <div class="col-md-8 col-md-offset-2">
                                    <button id="submit" type="button" class="btn btn-primary btn-block submitButton" ng-click="postTender()">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <hr/>

                    <section style="margin-top:60px" class="row">
                        <h2>Current offerings</h2>
                        <article style="border-bottom: 1px solid black; margin-top: 20px;" ng-repeat="tenderer in tender.tenderer">
                            <p>Artist: {{tenderer.name}}</p>
                            <p>Price offered: {{tenderer.price}}</p>
                            <p>Description: {{tenderer.description}}</p>
                        </article>
                    </section>
                </div>
            </div>

        </div>
    </section>
</div>